<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="title">
        <h1>Welcome To Anime World </h1>
        <a href="/log"><button class="log">LOGOUT</button></a>
    </div>
    <div class="buttons">
        <a href="/get?category=anime"><button>GET A RANDOM ANIME</button></a>
        <a href="/get?category=character"><button>GET A RANDOM ANIME CHARACTER</button></a>
        

    </div>
    
</body>
</html>